:root{
    --cadet: #5D737E;
    --green-sheen: #64B6AC;
    --celeste: #C0FDFB;
    --aero-blue: #DAFFEF;
    --white: #FCFFFD;
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header{
    background-color: var(--green-sheen);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    
}


.content{
    display: flex;
    height: 100%;
}

.left-nav{
    background-color: var(--celeste);
    flex: 1;
}

.project-view{
    background-color: var(--white);
    flex: 4;
}

.new-project-modal,.new-todo-modal,.update-todo-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.project-modal-content,.todo-modal-content,.update-todo-modal-content{
    width: 400px;
    height: 100px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
}

.todo-modal-content,.update-todo-modal-content{
    width: 500px;
    height: 200px;
}

.project:hover,#today:hover,#week:hover{
    background-color: grey;
}

.task-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.task-element{
    background-color: grey;
    height: 30px;
    width: 80%;
}

.dropdown-content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--aero-blue);
    width: 80%;
}

ul{
    list-style: none;
}

#footer{
    background-color: var(--cadet);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.gh-icon{
    transition: ease-in-out 300ms;
}
.gh-icon:hover{
    transform: rotate(360deg);
}
